<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestCase.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/nkale/eclipse-workspace/MyFirstFramework">
        <classes>
            <class name="TestCase.HomePage">
            </class>
        </classes>
    </test>
</suite>